
*{
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    background-color: #050505;

}

::selection {
    background-color: rgba(0, 255, 255, 0.377);
    color: black;
}

header{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(127, 255, 212, 0.26);
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.178);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.11) inset;
    backdrop-filter: blur(10px);
}
.logo{
    
    padding-right: 30px;
    display: inline-block;
    margin: 0;
    padding-bottom: 0;
    color: rgb(213, 252, 252);
    font-family: 'Special Elite';
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

.logo h1 {
    margin: 0;
}


.logo:hover{
    color: rgb(213, 252, 252);
    font-family: 'Special Elite';
    transform: scale(1.01);
}

.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a{
    text-decoration: none;
    color: rgb(213, 252, 252);
    font-weight:600;
    position: relative;
}

.navbar a:hover{
    color: rgb(202, 252, 252);

}

.navbar a::after {
    content: "";
    background-color: rgb(213, 252, 252);
    position: absolute;
    width: 5px;
    height: 2px;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease-in-out;
    
}
.navbar a:hover::after {
    width: 100%;
}


main{
    padding-top: 0;
}


/*Seção hero*/


.hero{
    display: flex;
    height: 800px;
    color: aliceblue;
    background-image: linear-gradient(to bottom, transparent 70%, #000000 100%), 
    url('images/Spaceman.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;    background-color: rgba(0, 0, 0, 0.5);
    box-shadow:inset 0px -50px 150px rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*animation-name: float2; /*tentar Colocar a animação somente na imagem
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;*/

}


#hero-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    
    animation: fadeIn 2s ease-out forwards;
}

.fade-in {
    animation: fadeIn 1.5s ease-in-out forwards;
}

.title{
    font-family: "Limelight";
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 0px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out, transform 0.1s ease-in-out;
    
    

}
.title:hover{
    font-family: "Limelight";
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 0px;
    transform: skew(-10deg);
    cursor: default;
}
#hero-section p{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 60px;

    animation-name: float2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
.paragraph{
    
    margin-top: 0;
    margin-bottom: 60px;
    color: rgba(213, 248, 255, 255);
    transition: color 0.3s ease-in-out;
    cursor:default;

    
}
.paragraph:hover{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 60px;
    color: rgba(240, 248, 255, 0.815);
    transition: color 0.3s ease-in-out;
    cursor:default;

    
}
#hero-section b{
    background-color: none;
    font-weight: 400;
    animation-name: sumir;
    animation-duration: 1s;
    animation-iteration-count: infinite ;
}


#glowbutton{
    padding: 20px 44px;
    font-size: 28px;
    font-family: "Limelight";
    border: 2px solid rgb(213, 252, 252);
    border-radius: 99px;
    color: rgb(213, 252, 252);
    background-color: rgba(255, 255, 255, 0.034);
    box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.170);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    /*transition vai no botão normal*/
 
    
}

#glowbutton:hover{ 
    background-color: rgb(255, 255, 255);
    color: rgb(41, 41, 41);
    box-shadow: inset 0px 0px 35px rgba(255, 255, 255, 0.25), 0 0 30px rgba(213, 252, 252, 0.4);
    transform: scale(1.05);
    /*transform vai no hover*/
    animation-name: float;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    
}

/*Seção vídeo*/

.secao-video{
    display: flex;
    color: aliceblue;
    background-image: url(images/spacebg1.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;    background-color: rgba(0, 0, 0, 0.555);
    box-shadow:inset 0px -50px 50px rgb(0, 0, 0), inset 0px 0px 20px rgb(0, 0, 0);
    /*background-color: rgb(0, 0, 0);*/
    padding: 20px;
    font-size: 24px;
}

#blocovideo1{
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px

}
#blocovideo2{
    width: 50%;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#blocovideo2 img{
    width: 400px;;
    height: auto;
    animation-name: float;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    
}

    
#blocovideo2 iframe{
    width: 100%;;
    height: auto;
    aspect-ratio: 16 / 9; 
    border-radius: 12px; 
    
}


/*Footer*/

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    border-top: 2px solid rgba(127, 255, 212, 0.26);
    box-sizing: border-box;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.041) inset;
    backdrop-filter: blur(10px);
    padding-top: 40px;

    padding-left: 20px;
    padding-right: 20px;
}
#aside1{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: flex-start;
}

footer .logo {
    margin-bottom: 10px; 
    margin-top: 0px
}

footer .paragraph{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 15px;

}
footer .paragraph:hover{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 15px

}
#cep{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(207, 207, 207);
    transition: color 0.3s ease-in-out;

}
#cep::before{
    content: "\f3c5";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
}
#cep:hover{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(138, 138, 138);

}
#aside2{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 24px;
    padding-right: 24px
}

.fth4{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgb(213, 252, 252);
    transition: color 0.3s ease-in-out;
    position: relative;
}
.fth4:hover{
    font-size: 20px;
    color: rgb(202, 252, 252);
    transition: color 0.3s ease-in-out;
}

.fth4::after {
    content: "";
    background-color: rgb(213, 252, 252);
    position: absolute;
    width: 24px;
    height: 2px;
    bottom: -2px;
    left: 0;
    transition: all 0.3s ease-in-out;
}
.fth4:hover::after {
    content: "";
    background-color: rgb(213, 252, 252);
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -2px;
    left: 0;
    transform: width 0.3s ease-in-out;
    
}
footer a{
    color: #bebebe;
    display: inline-block;
    margin-top: 16px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-decoration-color: currentColor;
    font-weight: 600;
    transition: color 0.3s ease-in-out;;
}
footer a:hover{
    color: #8d8c8c;
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-decoration-color: currentColor;
    font-weight: 600;
}

footer a::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    margin-right: 8px;
    text-decoration: none;
}


footer a[href*="instagram"]::before {
    color: #E1306C;
    content: "\f16d";
    
}
footer a[href*="instagram"]:hover {
    color: #E1306C;
    
}
footer a[href*="youtube"]::before {
    color: #FF0000;
    content: "\f167";
}
footer a[href*="youtube"]:hover{
    color: #FF0000;

}

#aside3{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 24px;
    padding-right: 24px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.copyright {
    border-top: 1px solid rgba(127, 255, 212, 0.096);
    font-size: 12px;
    color: rgba(213, 252, 252, 0.4);
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
}

/*Serviçoss pg*/

.hero-services{
    display: flex;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, transparent 70%, #000000 100%), 
    url('images/nebulosa.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;    background-color: rgba(0, 0, 0, 0.5);
    box-shadow:inset 0px -50px 150px rgb(0, 0, 0);

}
.hero-services .title{
    display: block;
}
#hero-services{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.imgdestaque{
    width: 250px;
    

}
.carrossel{
    width: 100%;
    height: 100vh;
}




/*@keyframes*/

@keyframes float{
    50%{transform: translateY(10px);}
}
@keyframes float2{
    50%{transform: translateY(6px);}
}
@keyframes sumir{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes glow{
    0%{box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.170);}
    50%{box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.25);}
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



@media screen and (max-width: 650px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    header h1 {
        padding-right: 0;
        margin-bottom: 20px;
    }
    main{
        flex-direction: column;
        display: block;
    }
}
